<h2>This is the page contains info about a client</h2>
<p> Name: <%= @client.name %> </p>
<p> Phone: <%= @client.phone %> </p>
<p> Datetime: <%= @client.datetime %> </p>
<p> Barber: <%= @client.barber %> </p>
<hr>