<h2>This is the page contains info about a client</h2>
<p> Name: <%= @visitor.name %> </p>
<p> Phone: <%= @visitor.phone %> </p>
<p> Dtetime: <%= @visitor.datetime %> </p>
<p> Barber: <%= @visitor.barber %> </p>
<hr>